@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

body {
    background: rgb(10,15,25);
    background: linear-gradient(133deg, rgba(10,15,25,1) 0%, rgba(9,9,60,1) 28%, rgba(10,13,50,1) 68%, rgba(10,15,25,1) 100%);
    animation: fadeIn 0.2s ease;
    min-height: 100vh;
    overflow-x: hidden;
    color: white;
    margin: 0;
    padding: 0;
}

.tabs {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.tabs a {
    text-decoration: none;
    color: white;
}

.tab {
    width: 100px;
    height: 130px;
    overflow: hidden;
    position: relative;
    left: 0;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.15s ease;
    backdrop-filter: blur(4px);
}

.tab:hover {
    background: rgba(25, 32, 122, 0.5);
    backdrop-filter: blur(12px);
}

.tab:hover p, .tab:hover img {
    opacity: 1;
}

.tab img {
    object-fit: contain;
    width: 100px;
    height: 100px;
    transition: 0.15s ease;
    opacity: 0.5;
}

.tab p {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    transition: 0.15s ease;
    opacity: 0.5;
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 5px;
    font-size: 20px;
    text-align: center;
    right: 0;
    left: 0;
    color: white;
}

.footerlink {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.footerlink:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInBottom {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0);
    }
}